BeautifulSoup==3.2.1
Django==1.4.1
Ghost.py==0.1b
MySQL-python==1.2.4b2
cssselect==0.7.1
distribute==0.6.28
django-allauth==0.8.1
django-bootstrap-form==2.0.5
django-uni-form==0.9.0
geopy==0.94.2
httplib2==0.7.6
lxml==3.0
mechanize==0.2.5
oauth2==1.5.211
premailer==1.12
pysolr==2.1.0-beta
python-openid==2.2.5
virtualenv==1.8.2
wsgiref==0.1.2
