{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load account %}

{% block title_content %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block body_content %}

      <div class="row">
        <div class="span12">
          {% include "jobs/jobs_search_bar.html" %}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="span12">
          <ul class="breadcrumb">
            <li>
              <a href="/">Home</a> <span class="divider">/</span>
            </li>
            <li class="active">
              Confirm Email Address
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="span12">
          {% user_display confirmation.email_address.user as user_display %}
        
          <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{email}}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

          <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">{% trans 'Confirm' %}</button>
          </form>
        </div>
      </div>

{% endblock %}
