{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title_content %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block body_content %}

      <div class="row">
        <div class="span12">
          {% include "jobs/jobs_search_bar.html" %}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="span12">
          <ul class="breadcrumb">
            <li>
              <a href="/">Home</a> <span class="divider">/</span>
            </li>
            <li class="active">
	      Job Alert Deleted
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="span12">
	  <div class="alert alert-info">
            Job alert deleted.
	  </div>
        </div>
      </div>

{% endblock %}
