{% extends "account/base.html" %}

{% load i18n %}

{% block title_content %}{% trans "Logged Out" %}{% endblock %}

{% block body_content %}
      <div class="row">
        <div class="span12">
          {% include "jobs/jobs_search_bar.html" %}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="span12">
          <ul class="breadcrumb">
            <li>
              <a href="/">Home</a> <span class="divider">/</span>
            </li>
            <li class="active">
	      Logout
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="span12">
	  <p>{% trans "You have signed out." %}</p>
	</div>
      </div>
{% endblock %}
