{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}
{% load account %}

{% block title_content %}{% trans "Change Password" %}{% endblock %}

{% block body_content %}
      <div class="row">
        <div class="span12">
          {% include "jobs/jobs_search_bar.html" %}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="span12">
          <ul class="breadcrumb">
            <li>
              <a href="/">Home</a> <span class="divider">/</span>
            </li>
            <li class="active">
              Change Password
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="span12">
	  {% if token_fail %}
	    <div class="alert alert-error">
              <strong>{% trans "Bad Token" %}</strong>
            </div>
	  {% else %}
	    {% if form %}
              <p>{% trans "Change Password" %}</p>
	    {% endif %}
	  {% endif %}

	  {% if token_fail %}
	    {% url 'account_reset_password' as passwd_reset_url %}
	    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
	  {% else %}
	    {% if form %}
  	      <form class="well" method="POST" action="">
		{% csrf_token %}
		{{form|bootstrap}}
		<button class="btn btn-primary" type="submit">{% trans "change password" %}</button>
	      </form>
	    {% else %}
	      <p>{% trans 'Your password is now changed.' %} You can now <a href="{% url 'account_login' %}">sign in</a> with your new password.</p>
	    {% endif %}
	  {% endif %}
	</div>
      </div>
{% endblock %}
