{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block title_content %}{% trans "Change Password" %}{% endblock %}
{% block account_nav_change_password %}active{% endblock %}

{% block body_content %}
      <div class="row">
        <div class="col-md-12">
          {% include "jobs/jobs_search_bar.html" %}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/account/profile">Account ({{ user.username}})</a> <span class="divider">/</span>
            </li>
            <li class="active">
              Password Change
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {% if messages %}
            {% for message in messages %}
              {% if forloop.last %}
                {% if message.tags and message.tags != "debug" %}
                  {% if message.tags == "warning" %}
                    <div class="alert">
                  {% else %}
                    <div class="alert alert-{{ message.tags }}">
                  {% endif %}
                  {{ message }}
                    </div>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}

          <form method="POST" action="" class="well">
            {% csrf_token %}
            {{ password_change_form|bootstrap }}
            <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
          </form>
        </div>
      </div>
{% endblock %}
