{% extends "account/base.html" %}

{% load url from future %}
{% load bootstrap %}
{% load i18n %}

{% block title_content %}{% trans "Signup" %}{% endblock %}

{% block body_content %}
      <div class="row">
        <div class="col-md-12">
          {% include "jobs/jobs_search_bar.html" %}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb">
            <li>
              <a href="/">Home</a>
            </li>
            <li class="active">
              Sign Up
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
          {% else %}
            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
          {% endif %}

<!--        
            <form class="well" id="signup_form" method="post" action="{% url 'account_signup' %}">
             {% csrf_token %}
             {{ form|bootstrap }}
             {% if redirect_field_value %}
               <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
             {% endif %}
             <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
            </form>

-->
            <div id="login-panel" class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Sign Up</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 login-box">
		  <form id="signup_form" method="post" action="{% url 'account_signup' %}">
		    {% csrf_token %}
                    <div class="input-group">
                      <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
		      <input id="id_username" type="text" class="form-control" name="username" placeholder="Username" maxlength="30">
		    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
		      <input type="password" name="password1" id="id_password1" class="form-control" placeholder="Password">
		    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
		      <input type="password" name="password2" id="id_password2" class="form-control" placeholder="Password (again)">
		    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
		      <input type="text" name="email" id="id_email" class="form-control" placeholder="Email">
		    </div>
		    {% if redirect_field_value %}
  		    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		    {% endif %}
		    </div> <!-- login-box -->
		</div> <!-- row -->
	      </div> <!-- panel-body -->
              <div class="panel-footer">
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
		    <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
		  </div>
	          </form>
		</div>
	      </div>
	    </div>
	</div>
{% endblock %}


