{% load neek_extras %}
  <div id="companies-sidebar-left">
    <div class="panel-group" id="tag-accordion">
      {% if query %}
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color: whiteSmoke">
          <a class="panel-title" data-toggle="collapse" href="#current-filters"><i class="glyphicon glyphicon-chevron-down"></i>Current Filters</a>
        </div>
        <div id="current-filters" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul class="nav nav-list">
              {% if query.vacation %}
              <li>
                <a rel="nofollow" href="?{{ query.urlencode|qstring_del:'vacation' }}">
                  {{ query.vacation }}-{{ query.vacation|add:4 }} days
                  <span class="close">&times</span>
                </a>
              </li>
              {% endif %}

              {% if query.tags %}
                {% for tag in query.tags|split %}
                  <li>
                    {% if query.tags|split_and_remove:tag|length > 0 %}
                      <a rel="nofollow" href="?{{ query.tags|split_and_remove:tag|join:'+'|prepend:'tags='|qstring_set:query.urlencode }}">
                    {% else %}
                      <a rel="nofollow" href="?{{ query.urlencode|qstring_del:'tags' }}">
                    {% endif %}
                      #{{ tag }}
                      <span class="close">&times</span>
                    </a>
                  </li>
                {% endfor %}
              {% endif %}

              {% if query.awards %}
                {% for award in query.awards|split %}
                  <li>
                    {% if query.awards|split_and_remove:award|length > 0 %}
                      <a rel="nofollow" href="?{{ query.awards|split_and_remove:award|join:'+'|prepend:'awards='|qstring_set:query.urlencode }}">
                    {% else %}
                      <a rel="nofollow" href="?{{ query.urlencode|qstring_del:'awards' }}">
                    {% endif %}
                      {{ award|award_string }}
                      <span class="close">&times</span>
                    </a>
                  </li>
                {% endfor %}
              {% endif %}

              {% if query.size %}
              <li>
                <a rel="nofollow" href="?{{ query.urlencode|qstring_del:'size' }}">{{ query.size|company_size_string }}
                  <span class="close">&times</span>
                </a>
              </li>
              {% endif %}

              {% if query.tld %}
              <li>
                <a rel="nofollow" href="?{{ query.urlencode|qstring_del:'tld' }}">{{ query.tld }}
                  <span class="close">&times</span>
                </a>
              </li>
              {% endif %}
	    </ul>
          </div> <!-- panel-body -->
        </div> <!-- current-filters -->
      </div> <!-- accordion-group -->                                 
      {% endif %}

      <div class="panel panel-default">
        <div class="panel-heading" style="background-color: whiteSmoke">
          <a class="panel-title" data-toggle="collapse" href="#top-level-domain"><i class="glyphicon glyphicon-chevron-right"></i>Top Level Domain</a>
	</div>
        <div id="top-level-domain" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="nav nav-list">
              {% for tld,cnt in facet_counts.tld %}
              <li>
                <a rel="nofollow" href="?{{ 'tld='|add:tld|qstring_set:query.urlencode }}">{{ tld }}
                  <span class="facet-count">{{ cnt }}</span>
                </a> 
              </li>          
              {% endfor %}
            </ul>
          </div> <!-- panel-body -->
        </div> <!-- current-filters -->
      </div> <!-- accordion-group -->                                 

      <div class="panel panel-default">
        <div class="panel-heading" style="background-color: whiteSmoke">
          <a class="panel-title" data-toggle="collapse" href="#company-size"><i class="glyphicon glyphicon-chevron-right"></i>Company Size</a>
        </div>
        <div id="company-size" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="nav nav-list">
              {% for company_size,cnt in facet_counts.company_size %}
              <li>
                <a rel="nofollow" href="?{{ 'size='|add:company_size|qstring_set:query.urlencode }}">
                  {{ company_size|company_size_string }}
                  <span class="facet-count">{{ cnt }}</span>
                </a> 
              </li>    
              {% endfor %}
            </ul>
          </div> <!-- panel-body -->
        </div> <!-- current-filters -->
      </div> <!-- accordion-group -->                                 

      <div class="panel panel-default">
        <div class="panel-heading" style="background-color: whiteSmoke">
          <a class="panel-title" data-toggle="collapse" href="#vacation"><i class="glyphicon glyphicon-chevron-right"></i>Vacation</a>
        </div>
        <div id="vacation" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="nav nav-list">
              {% for numdays,cnt in facet_counts.vacation_year_1|slice:":8" %}
                {% if cnt > 0 %}
                  <li>
                    <a rel="nofollow" href="?{{ numdays|stringformat:"d"|prepend:'vacation='|qstring_set:query.urlencode }}">
                      {{ numdays }}-{{ numdays|add:4 }} days
                      <span class="facet-count">{{ cnt }}</span>
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div> <!-- panel-body -->
        </div> <!-- current-filters -->
      </div> <!-- accordion-group -->                                 

      <div class="panel panel-default">
        <div class="panel-heading" style="background-color: whiteSmoke">
          <a class="panel-title" data-toggle="collapse" href="#awards"><i class="glyphicon glyphicon-chevron-right"></i>Awards</a>
        </div>
        <div id="awards" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="nav nav-list">
              <li class="nav-header">Company Awards</li>
              {% for award,cnt in facet_counts.company_awards|slice:":6" %}
                <li>
                   {% if query.awards %}
                    <a rel="nofollow" href="?{{ query.awards|split_and_remove:award|append:award|join:'+'|prepend:'awards='|qstring_set:query.urlencode }}">
                  {% else %}
                    <a rel="nofollow" href="?{{ 'awards='|add:award|qstring_set:query.urlencode }}">
                  {% endif %}
                    {{ award|award_string }}
                    <span class="facet-count">{{ cnt }}</span>
                  </a> 
                </li>
              {% endfor %}
            </ul>
          </div>
        </div> <!-- current-filters -->
      </div> <!-- accordion-group -->                                 
    </div> <!-- accordion -->
  </div>
