{% extends "base.html" %}
{% load neek_extras %}

{% block title_content %} Browse Jobs by Company {{ name_startswith }}{% endblock %}

{% block body_content %}
<div class="row">
  <div class="span12">
    {% include "jobs/jobs_search_bar.html" %}
  </div>
</div>

<hr />

<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <li>
        <a href="/">Home</a> <span class="divider">/</span>
      </li>
      <li>
        <a href="/browse_jobs">Browse Jobs</a> <span class="divider">/</span>
      </li>
      <li>
        <a href="/browse_jobs#by_company">Companies</a> <span class="divider">/</span>
      </li>
      <li class="active">{{ name_startswith }}</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-bordered table-striped">
      <tbody>
      {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ"|make_list %}
        {% if forloop.counter0|modulus:13 == 0 %}
        <tr>
        {% endif %}
          {% if letter == name_startswith %}
          <td>{{ letter }}</td>
          {% else %}
          <td><a href="/browse_jobs/by_company/{{ letter }}/">{{ letter }}</a></td>
          {% endif %}
        {% if forloop.counter0|modulus:13 == 12 %}
        </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>

    <table class="table table-bordered table-striped">
      <tbody>
        {% for company in companies %}
          {% if forloop.counter0|modulus:3 == 0 %}
            <tr>
          {% endif %}
              <td><a href="/jobs-at-{{company.name_slug}}">{{ company }}</a></td>
          {% if forloop.counter0|modulus:3 == 2 %}
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div><!--.span12-->
</div><!--.row-->

{% endblock %}
