<center>
  <form id="job-search-bar-form" method="get" action="/search" class="form-inline text-center well" style="background-color: #eeeeee;" onsubmit="return getcoord(this);" >
    <div class="form-group">
      <input name="q" class="form-control" type="text" {% if query.q %} value="{{ query.q }}" {% else %} placeholder="Keywords: Ruby, Rails, Django" {% endif %} >
    </div>
    <div class="form-group">
      <input name="loc" class="form-control" type="text" {% if query.loc %} value="{{ query.loc }}" {% else %} placeholder="Location: City, State, Zip" {% endif %}>
      <input type="hidden" name="lat" />
      <input type="hidden" name="lng" />
      <input type="hidden" name="radius" />
      <input type="hidden" name="state" />
      <input type="hidden" name="country" />
    </div>
    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search glyphicon-white"></i></button>
  </form>
</center>
